doctype html
html(lang='cn')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon', type='image/x-icon', href='static/favicon.ico')
    include ../component/link-head.pug
    block title
      title Defualt Title
  body
    block content
      p Defualt Content
    include ../component/link-footer.pug