.bee.mask
.bee.dialog
  .bee.dialog-hd
    strong 提示
  .bee.dialog-bd 确定执行此操作？确定执行此操作？确定执行此操作？确定执行此操作？确定执行此操作？
  .bee.dialog-ft
    a(href="javascript:void(0)") 取消
    a(href="javascript:void(0)") 确认
