html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #efefef
}

.s-model {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8)
}

.s-dialog {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  .s-title{
    text-align: center;
  }
  .s-content{

  }
  .s-ctrl{

  }
}
