html
    height: 100%
body
    min-height: 100%
    background-color: #fff

header
    height: 120px
    background-color: rgba(0,0,0,.6)
footer
    height: 120px
    color: #fff
    background-color: rgba(0,0,0,.9)