<div class="s-dialog">
  <div class="s-title">{{title}}</div>
  <div class="s-content">{{message}}</div>
  <div class="s-ctrls">
    {{#each buttons}}
    <a href="javascript:void(0)" onclick="Dialog.test()">{{this}}</a>
    {{/each}}
  </div>
</div>
